@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

html { font-size: 100%; }

body {
  --color-good: #44CF9F;
  --color-bad:  #DC267F;

  font: 1rem "Chivo Mono";
  margin: 0.5rem;
}

.column {
  height: 100%;
  overflow: scroll;

  background: #FFB000;
}

.hidden { display: none; }

.safe {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow: hidden;
}

/* INPUTS */
input, button {
  font: inherit;
  line-height: 1;
}

.button {
  display: block;
  width: 100%;

  text-align: center;

  padding: 0.4rem;
  border: none;

  background: #000;
  color: #FFF;

  transition: background 300ms ease;

  cursor: pointer;
}

.button:hover {
  background: #282828;
}

.button-accept:hover {
  background: var(--color-good);
  color: #000;
}
.button-discard:hover {
  background: var(--color-bad);
}

/* MODALS */
#overlay {
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  background: #0009;
  transition: background-color ease 500ms;
}

#overlay:empty {
  background: none;
  pointer-events: none;
}

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  width: 65rem;
  max-width: calc(100vh - 3rem);
  max-height: 70vh;

  background: #000;
  border: 0.2rem solid #FFF;
  color: #FFF;
}

.modal-header {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
}

.modal-title {
  flex-grow: 1;

  text-align: center;
  font-weight: bold;
}

.modal-exit {
  font-size: 1.5rem;
  width: calc(1.5rem + 2 * 0.4rem);
}

.modal-body > * {
  border-top: 0.1rem dashed #FFF;
}

.modal-button {
  
}
