@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&display=swap');

html { font-size: 100%; }

body {
  --color-fg:  #fc3;
  --color-mid: #d91;
  --color-bg:  #000;

  /* yellows: fc3 d91 c70 00 */

  --color-good: #44CF9F;
  --color-bad:  #DC267F;

  background: var(--color-bg);

  font: 1rem "Chivo Mono";
  margin: 0.5rem;
}

.column {
  height: 100%;
  overflow: auto;

  /* background: #FFB000; */
}

.hidden { display: none; }

.safe {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow: hidden;
}

/* INPUTS */
input, button {
  font: inherit;
  line-height: 1;
}

.button {
  display: block;
  padding: 0.4rem;
  border: none;

  background: var(--color-fg);
  color: var(--color-bg);

  text-align: center;

  transition: background 300ms ease;

  cursor: pointer;
}

.button:hover {
  background: var(--color-mid);
}

.button-accept:hover {
  background: var(--color-good);
}
.button-discard:hover {
  background: var(--color-bad);
}

:read-only {
    color: inherit;
}

:checked + .button {
  font-weight: bold;

  background: var(--color-bg);
  color: var(--color-fg);
}
