body {
    --gap: 0.5rem;
    --button: 1.8rem;

    --width : calc(100vw - 2 * var(--gap));
    --height: calc(100vh - 2 * var(--gap));
    
    height: var(--height);
    margin: var(--gap);

    display: flex;
    align-items: center;
    justify-content: center;
}

#layout {
    --ratio: 1024 / 600;
    --half-ratio: calc(var(--ratio) / 2);

    --view-width : calc( (var(--width) - var(--half-ratio) * var(--gap)) / (1 + var(--half-ratio)) );
    --view-height: calc( var(--height) - var(--gap) - var(--button) );
    --view: min( var(--view-width), var(--view-height) );

    --safe: calc(var(--view) + var(--gap) + var(--button));

    height: var(--safe);

    display: flex;
    flex-direction: row;
    gap: var(--gap);

    /* background: #DC267F; */
}

.safe {
    height: var(--safe);
}

#screens-stage {
    height: var(--view);
    aspect-ratio: 1 / 1;
    
    /* background: #785EF0; */
}

#tokens-stage, #peek-stage {
    height: calc((var(--view) - var(--gap)) / 2);
    aspect-ratio: var(--ratio);

    /* background: #785EF0; */
}

#widgets {
  /* margin-top: 0.5rem; */

  /* height: 300vh; */
  /* background: #44CF9F; */
}
