body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: calc(100vh - 2 * 0.5rem);
}

#layout {
  --safe-height: min(36vw + 6.752rem, 100vh - 2 * 0.5rem);
  --button: calc(1rem + 2 * 0.4rem + 0.5rem);
  --top-widgets: 5.5rem;

  height: var(--safe-height);

  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  /* background: #DC267F; */
}

#views-stage {
  height: calc(var(--safe-height) - var(--button));
  aspect-ratio: 1 / 1;

  /* background: #785EF0; */
}

.safe {
  height: var(--safe-height);
}

#widgets-top {
  flex-grow: 1;

  border: 0.2rem solid var(--color-fg);

  /* background: #44CF9F; */
}

#tokens-stage {
  height: calc(var(--safe-height) - var(--button) - var(--button) - var(--top-widgets));
  aspect-ratio: 16 / 9;

  /* background: #785EF0; */
}

#widgets {
  /* margin-top: 0.5rem; */

  /* height: 300vh; */
  /* background: #44CF9F; */
}
